[workspace]
resolver = "2"

members = ["extendr-api", "extendr-engine", "extendr-macros", "xtask"]

[workspace.package]
version = "0.7.0"
authors = [
    "andy-thomason <andy@andythomason.com>",
    "Thomas Down",
    "Mossa Merhi Reimert <mossa@sund.ku.dk>",
    "Claus O. Wilke <wilke@austin.utexas.edu>",
    "Hiroaki Yutani",
    "Ilia A. Kosenkov <ilia.kosenkov@outlook.com>",
    "Michael Milton <michael.r.milton@gmail.com>",
]
edition = "2021"
license = "MIT"
repository = "https://github.com/extendr/extendr"
rust-version = "1.70"

[workspace.dependencies]
# When updating extendr's version, this version also needs to be updated
extendr-macros = { path = "./extendr-macros", version = "0.6.0" }

# When uncommenting this, do not forget to uncomment the same line in
# ./tests/extendrtests/src/rust/Cargo.toml, and "Run R integration tests using
# {rextendr}" on .github/workflows/test.yml !
libR-sys = { git = "https://github.com/extendr/libR-sys", rev = "09d76ada0cd54aa4481d9f06bbdfa50bcca2814a" }
