[workspace]
resolver = "2"

members = ["extendr-api", "extendr-engine", "extendr-macros"]

[workspace.package]
version = "0.6.0"
repository = "https://github.com/extendr/extendr"
license = "MIT"
authors = [
    "andy-thomason <andy@andythomason.com>",
    "Thomas Down",
    "Mossa Merhi Reimert <mossa@sund.ku.dk>",
    "Claus O. Wilke <wilke@austin.utexas.edu>",
    "Hiroaki Yutani",
    "Ilia A. Kosenkov <ilia.kosenkov@outlook.com>",
]
rust-version = "1.64"
edition = "2021"

[workspace.dependencies]
# When update extendr's version, this version also needs to be updated
extendr-macros = { path = "./extendr-macros", version = "0.6.0" }

libR-sys = "0.6.0"

[patch.crates-io]
# When uncommenting this, do not forget to uncomment the same line in
# ./tests/extendrtests/src/rust/Cargo.toml, and "Run R integration tests using
# {rextendr}" on .github/workflows/test.yml !
libR-sys = { git = "https://github.com/extendr/libR-sys" }
