[package]
name = "extendr-macros"
version = "0.3.1"
authors = [
    "andy-thomason <andy@andythomason.com>",
    "Thomas Down",
    "Mossa Merhi Reimert <mossa@sund.ku.dk>",
    "Claus O. Wilke <wilke@austin.utexas.edu>",
    "Hiroaki Yutani",
    "Ilia A. Kosenkov <ilia.kosenkov@outlook.com>"
]
edition = "2018"
description = "Generate bindings from R to Rust."
license = "MIT"
repository = "https://github.com/extendr/extendr"

[lib]
proc_macro = true

[dependencies]
syn = { version = "1.0.22", features = ["full", "extra-traits"] }
quote = "1.0.6"
proc-macro2 = { version = "1.0" }

[dev-dependencies]
extendr-api = { path = "../extendr-api" }
extendr-engine = { path = "../extendr-engine" }
