[package]
name = "extendr-api"
version = "0.1.1"
authors = ["andy-thomason <andy@andythomason.com>"]
edition = "2018"
description = "Safe and user friendly bindings to the R programming language."
license = "MIT"
documentation = "https://extendr.github.io/extendr/index.html"
repository = "https://github.com/extendr/extendr"

[dependencies]
libR-sys = "0.1.6"
extendr-macros = { path = "../extendr-macros", version="0.1.1" }
ndarray = "0.13.1"
