[package]
name = "extendr-api"
version = "0.1.11"
authors = [
    "andy-thomason <andy@andythomason.com>",
    "Thomas Down",
    "Mossa Merhi Reimert <mossa@sund.ku.dk>",
    "Claus O. Wilke <wilke@austin.utexas.edu>",
    "Hiroaki Yutani"
]
edition = "2018"
description = "Safe and user friendly bindings to the R programming language."
license = "MIT"
repository = "https://github.com/extendr/extendr"

[dependencies]
libR-sys = "0.2.0"
extendr-macros = { path = "../extendr-macros", version="0.1.11" }
extendr-engine = { path = "../extendr-engine", version="0.1.11" }
ndarray = { version = "0.13.1", optional = true }

[features]
default = []

# All features to test
tests-all = ["ndarray", "libR-sys/use-bindgen"]

# The minimal set of features without all optional ones
tests-minimal = ["libR-sys/use-bindgen"]
