[package]
name = "extendr-api"
version = "0.2.0"
authors = [
    "andy-thomason <andy@andythomason.com>",
    "Thomas Down",
    "Mossa Merhi Reimert <mossa@sund.ku.dk>",
    "Claus O. Wilke <wilke@austin.utexas.edu>",
    "Hiroaki Yutani",
    "Ilia A. Kosenkov <ilia.kosenkov@outlook.com>"
]
edition = "2018"
description = "Safe and user friendly bindings to the R programming language."
license = "MIT"
repository = "https://github.com/extendr/extendr"

[dependencies]
libR-sys = "0.2.2"
extendr-macros = { path = "../extendr-macros", version="0.2.0" }
extendr-engine = { path = "../extendr-engine", version="0.2.0" }
ndarray = { version = "0.15.3", optional = true }
lazy_static = "1.4"
paste = "1.0.5"
serde = { version = "1.0", features = ["derive"], optional = true }
num-complex = { version = "0.4", optional = true }
libc = { version = "0.2", optional = true }

[features]
default = []

# libc is needed to allocate a DevDesc (c.f., https://bugs.r-project.org/show_bug.cgi?id=18292)
graphics = ["libc"]

# All features to test
tests-all = ["ndarray", "libR-sys/use-bindgen", "serde", "num-complex", "graphics"]

# The minimal set of features without all optional ones
tests-minimal = ["libR-sys/use-bindgen"]
