[package]
name = "extendr-api"
version = "0.2.0"
authors = [
    "andy-thomason <andy@andythomason.com>",
    "Thomas Down",
    "Mossa Merhi Reimert <mossa@sund.ku.dk>",
    "Claus O. Wilke <wilke@austin.utexas.edu>",
    "Hiroaki Yutani"
]
edition = "2018"
description = "Safe and user friendly bindings to the R programming language."
license = "MIT"
repository = "https://github.com/extendr/extendr"

[dependencies]
libR-sys = "0.2.2"
extendr-macros = { path = "../extendr-macros", version="0.2.0" }
extendr-engine = { path = "../extendr-engine", version="0.2.0" }
ndarray = { version = "0.15.3", optional = true }
lazy_static = "1.4"

[features]
default = []

# All features to test
tests-all = ["ndarray", "libR-sys/use-bindgen"]

# The minimal set of features without all optional ones
tests-minimal = ["libR-sys/use-bindgen"]
