[package]
name = "extendr-api"
version = "0.4.0"
authors = [
    "andy-thomason <andy@andythomason.com>",
    "Thomas Down",
    "Mossa Merhi Reimert <mossa@sund.ku.dk>",
    "Claus O. Wilke <wilke@austin.utexas.edu>",
    "Hiroaki Yutani",
    "Ilia A. Kosenkov <ilia.kosenkov@outlook.com>",
    "Michael Milton <michael.r.milton@gmail.com>",
]
edition = "2021"
description = "Safe and user friendly bindings to the R programming language."
license = "MIT"
repository = "https://github.com/extendr/extendr"

[dependencies]
libR-sys = "0.4.0"
extendr-macros = { path = "../extendr-macros", version = "0.4.0" }
extendr-engine = { path = "../extendr-engine", version = "0.4.0" }
lazy_static = "1.4"
paste = "1.0.5"

either = { version = "1.8.1", optional = true }
libc = { version = "0.2", optional = true }
ndarray = { version = "0.15.3", optional = true }
num-complex = { version = "0.4", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }

[dev-dependencies]
rstest = "0.16.0"

[features]
default = []

full-support = ["graphics", "either", "ndarray", "num-complex", "serde"]

# libc is needed to allocate a DevDesc (c.f., https://bugs.r-project.org/show_bug.cgi?id=18292)
graphics = ["libc"]

# The minimal set of features without all optional ones
tests-minimal = ["libR-sys/use-bindgen"]

# All features to test except for graphics; graphics tests are currently unstable
# and require --test-threads=1, so we decided to exclude it from here (c.f. #378).
tests = ["tests-minimal", "ndarray", "serde", "num-complex", "either"]

tests-graphics = ["tests-minimal", "graphics"]

# Literally all features to test
tests-all = ["tests", "graphics"]

[package.metadata.docs.rs]
features = ["graphics", "either", "ndarray", "num-complex", "serde"]
