[package]
name = "extendr-api"
version = "0.1.11"
authors = ["andy-thomason <andy@andythomason.com>"]
edition = "2018"
description = "Safe and user friendly bindings to the R programming language."
license = "MIT"
repository = "https://github.com/extendr/extendr"

[dependencies]
libR-sys = "0.1.12"
extendr-macros = { path = "../extendr-macros", version="0.1.11" }
extendr-engine = { path = "../extendr-engine", version="0.1.11" }
ndarray = "0.13.1"

