name: Documents

on:
  push:
    branches:
      - master

jobs:
  docs:
    name: Deploy the dev version of documents to GitHub Pages
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: Docs
        run: cargo doc --workspace --no-deps --all-features
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
