name: Trigger rextendr CI
on:
  pull_request:
    types:
      - closed
    branches:
      - master
jobs:
  dispatch-to-rextendr:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Trigger rextendr test workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: extendr/rextendr
          event-type: extendr-pr-merged
